# Ignore the virtual environment directory
venv/

# Ignore the SQLite database file
db.sqlite3

# Ignore other common files/folders
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Ignore any .env files (if you use environment variables)
.env

# Ignore system-specific files
.DS_Store
